{% extends "cov19/base.html" %}
{% load humanize %}

{% block content %}

 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {
        'packages':['geochart'],
        // Note: you will need to get a mapsApiKey for your project.
        // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
        'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
          ['State', 'Total Critical Care Needed', 'Total Ventilators Needed', {'type': 'string', 'role': 'tooltip', 'p': {'html': true}}],
          {% for item in stateResources %}
          ['{{item.state}}', {{item.totCriticCareNeeded}}, {{item.totVentNeeded}}, '<b>Total Critical Care Needed:</b>{{item.totCriticCareNeeded|floatformat|intcomma}}<br><b>Total Ventilators Needed:</b>{{item.totVentNeeded|floatformat|intcomma}}<br><b>Date:</b>{{item.date}}'],
          {% endfor %}


        ]);

        var options = {};
           options['region'] = 'US';
           options['colorAxis'] = {colors: ['#d6eaf5','#4a9fd7']};
           options['backgroundColor'] = '#FFFFFF';
           options['datalessRegionColor'] = '#E5E5E5';
           options['legend'] = 'none';
           options['resolution'] = "provinces";
           options['tooltip'] = { isHtml: true };

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(data, options);
      }
    </script>

<!------------------------------- US STATES CASES GRAPH -------------------------->
<script>
google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {

      var data = new google.visualization.DataTable();
      data.addColumn('date', 'Date');
      data.addColumn('number', 'New Cases');
      data.addColumn('number', 'New Deaths');
      data.addColumn('number', 'Total Hospital Beds Needed');
      data.addColumn('number', 'Total Critical Care Needed');
      data.addColumn('number', 'Total Ventilators Needed');


      data.addRows([
        {% for item in stateStats %}
        [new Date('{{item.date|date:"M d, Y"}}'), {{item.newCases}}, {{item.newDeaths}}, {{item.tothospBedNeeded}}, {{item.totCriticCareNeeded}}, {{item.totVentNeeded}}],
        {% endfor %}
      ]);

      var options = {
        hAxis: {
          format: 'MMM dd, yyyy',
        },
        vAxis: {
          title: 'Patients'
        }
      };
      options['chartArea'] = {width:'50%'};
      options['legend'] = {textStyle: {fontSize: 12}};

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

      chart.draw(data, options);
    }
</script>


<div>
    <h1 align="center">United States of America</h1>
         <div id="regions_div" style = "width: 100%; margin: 0 auto"></div>
    <hr>
    <br>
</div>

<!--------------------------------------------------------->

<h1 align="center">Quick Facts</h1>
<!-------------------------------------------------------->
<br>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<table class="table">
    <tbody>
        <tr>
            <td class="border">Predicted Date<br/>{{totalStateStats.date|date:"M d, Y"}}</td>
            <td class="border-top-0 pt-4 d-flex justify-content-center"><i style="font-size:24px" class="fa">&#xf178;</i></td>
            <td class="border">Total Critical Care Needed<br/>{{totalStateStats.totCriticCareNeeded|floatformat|intcomma}}</td>
            <td class="border-top-0 pt-4 d-flex justify-content-center"><i style="font-size:24px" class="fa">&amp;</i></td>
            <td class="border">Total Ventilators Needed<br/>{{totalStateStats.totVentNeeded|floatformat|intcomma}}</td>
        </tr>
        <tr><td></td></tr>
        <tr>
            <td class="border">Date<br/>{{totalStateFigs.date|date:"M d, Y"}}</td>
            <td class="border-top-0 pt-4 d-flex justify-content-center"><i style="font-size:24px" class="fa">&#xf178;</i></td>
            <td class="border">New Cases<br/>{{totalStateFigs.newCases|intcomma}}</td>
            <td class="border-top-0 pt-4 d-flex justify-content-center"><i style="font-size:24px" class="fa">&amp;</i></td>
            <td class="border">New Deaths<br/>{{totalStateFigs.newDeaths|intcomma}}</td>
        </tr>
    </tbody>
</table>
<br>

<!-------------------------------------------------------->
<hr>
<br>
<h1 align="center">Coronavirus cases in the United States</h1>
 <div id="chart_div" style = "width: 100%; height: 400px;"></div>



{% endblock content %}